html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

.container {
  display: flex;
  padding: 20px;

  max-width: 1760px;
  margin: auto;
}
