<div class="container">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Profile">
      <div class="container">
        <app-profile-info></app-profile-info>
      </div>
    </mat-tab>
    <mat-tab label="Lists">
      <div class="container">
        <app-lists></app-lists>
      </div>
    </mat-tab>

    <mat-tab label="Favorite">
      <div class="container">
        <app-favorite></app-favorite>
      </div>
    </mat-tab>
    <mat-tab label="Rated">
      <div class="container">
        <app-rated></app-rated>
      </div>
    </mat-tab>
    <mat-tab label="Watchlist">
      <div class="container">
        <app-watchlist></app-watchlist>
      </div>
    </mat-tab>
  </mat-tab-group>

  <router-outlet></router-outlet>
</div>
