<div class="container-lists">
  <app-panel
    *ngFor="let list of lists"
    [title]="list.name"
    [description]="list.description"
    [expanded]="!(lists.length > 3)"
    [hideFiltersBtn]="true"
    [paginatorData]="{
      length: list.items.length,
      pageSize: 0
    }"
  >
    <ng-container ngProjectAs="panel-content">
      <app-card
        *ngFor="let item of list.items"
        [item]="item"
        route="/details"
        [media_type]="item.media_type"
      >
      </app-card>
    </ng-container>

    <ng-container ngProjectAs="filter-chips">
      <button mat-button color="warn" (click)="onDeleteList(list.id)">
        Delete List
      </button>
      <button mat-button color="accent" (click)="onClearList(list.id)">
        Clear List
      </button>
    </ng-container>
  </app-panel>
</div>
