.section-heading {
  margin: 0 10px !important;
  font-size: 1.4rem;
}

.section-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 8px 20px;
}
