.filters-box {
  flex: 1;
  width: 300px;
  margin: auto;
  overflow: visible !important;

  mat-form-field {
    margin-bottom: -15px;
    width: 100%;

    mat-label,
    input {
      font-size: 0.9rem;
      color: #e7e7e7;
    }

    mat-icon {
      color: #e7e7e7;
    }
  }

  .panel-content {
    display: flex;
    flex-direction: column;
  }
}

mat-drawer-container {
  min-height: 300px;
}

mat-drawer {
  width: 100%;
  background: inherit;
}

.container {
  flex-direction: column;
  gap: 10px;
}
