<div class="container">
  <router-outlet></router-outlet>

  <mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="0"
    class="unselectable"
    style="min-height: 800px"
  >
    <mat-tab class="tab" label="Trending">
      <div class="container">
        <app-trending></app-trending>
      </div>
    </mat-tab>
    <mat-tab label="Top Rated">
      <div class="container">
        <app-top-rated></app-top-rated>
      </div>
    </mat-tab>
    <mat-tab label="Popular">
      <div class="container">
        <app-popular></app-popular>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
