<div class="container">
  <router-outlet></router-outlet>

  <mat-tab-group mat-align-tabs="center" [selectedIndex]="0" class="unselectable">
    <mat-tab label="Trending">
      <div class="tab-content">
        <app-trending></app-trending>
      </div>
    </mat-tab>
    <mat-tab label="Top Rated">
      <div class="tab-content">
        <app-top-rated></app-top-rated>
      </div>
    </mat-tab>
    <mat-tab label="Popular">
      <div class="tab-content">
        <app-popular></app-popular>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-discover></app-discover>
</div>