<mat-expansion-panel expanded="true" title="">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2 class="section-heading">{{ title }}</h2>
    </mat-panel-title>
    <mat-panel-description>
      {{ description }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
      <div class="section-filters">
        <ng-content select="filters"></ng-content>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="section-content">
        <app-loading-spinner *ngIf="!items.length"></app-loading-spinner>

        <app-card
          *ngFor="let item of items"
          [item]="item"
          [media_type]="media_type"
        ></app-card>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <div class="footer">
    <div class="filters-btn-box">
      <button mat-flat-button color="accent" (click)="drawer.toggle()">
        Toggle Filters
      </button>
    </div>

    <div class="filters-chips-box">
      <ng-content select="filter-chips"></ng-content>
    </div>

    <div class="pagination-box">
      <mat-paginator
        [length]="total_results ? total_results : items.length * 10"
        [pageSize]="items.length"
        (page)="fetchNewPageData($event)"
        #paginator
      >
      </mat-paginator>
    </div>
  </div>
</mat-expansion-panel>
