.container {
  max-width: 1760px;
  margin: auto;
  gap: 20px;
}

.filters-box {
  // flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;

  animation: FiltersEnter 0.8s ease 0s 1 normal forwards;

  mat-form-field {
    margin-bottom: -15px;
    width: 100%;

    mat-label,
    input {
      font-size: 0.9rem;
      color: #e7e7e7;
    }

    mat-icon {
      color: #e7e7e7;
    }
  }
}

.results-box {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 20px;
  }

  .pagination-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;

    .filters-box {
      margin: 20px auto;
    }
  }
}

@keyframes FiltersEnter {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
