<div class="container unselectable">
  <app-preview></app-preview>

  <div class="content">
    <div class="main">
      <div class="reccomendations" *ngIf="dataReady(recommendations)">
        <app-panel
          *ngIf="recommendations.results.length"
          title="Recommendations"
          [total_results]="recommendations.total_results"
          [items]="recommendations.results"
          route="/details"
          [media_type]="media_type"
          [hideFiltersBtn]="true"
          (fetchNewPage)="fetchRecommendationsData($event)"
        >
        </app-panel>
      </div>

      <div class="reviews" *ngIf="dataReady(reviews)">
        <mat-expansion-panel
          *ngIf="reviews.results.length"
          [expanded]="reviews.results.length"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="section-heading">Reviews</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="panel-content">
            <mat-card
              [class.mat-elevation-z2]="true"
              *ngFor="let review of reviews.results"
              style="background: #616161"
            >
              <mat-card-subtitle>{{
                review.updated_at
                  ? (review.updated_at | date)
                  : (review.created_at | date)
              }}</mat-card-subtitle>
              <mat-card-title>{{ review.author }}</mat-card-title>
              <mat-card-content>{{ review.content }}</mat-card-content>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="side">
      <div class="facts">
        <mat-card>
          <mat-card-content>
            <div><span>Status: </span> {{ item.status }}</div>
            <div>
              <span>Original Language: </span>{{ item.original_language }}
            </div>
            <div>
              <span>Budget: </span>
              {{ item.budget ? (item.budget | currency) : "No Information" }}
            </div>
            <div>
              <span>Revenue: </span>
              {{ item.revenue ? (item.revenue | currency) : "No Information" }}
            </div>
            <div><span>Vote Count: </span> {{ item.vote_count | number }}</div>
            <div *ngIf="item.homepage !== ''">
              <span>Homepage: </span>
              <a [href]="item.homepage" target="_blank">Website Link</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="keywords">
        <mat-chip-list>
          <mat-chip *ngFor="let keyword of keywords.keywords">{{
            keyword.name
          }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
