<div class="container unselectable">
  <app-preview></app-preview>

  <div class="content">
    <div class="main">
      <div class="vidoes" *ngIf="isDataReady(videos) && videos.results.length">
        <app-panel
          title="Videos"
          (fetchNewPage)="setVideoIndex($event)"
          [hideFiltersBtn]="true"
          [hidePaginationLength]="true"
          [paginatorData]="{
            length: videos.results.length,
            pageSize: 1
          }"
        >
          <ng-container ngProjectAs="panel-content">
            <!-- [width]="videos.results[videoIndex - 1]?.size - 10"
            [height]="videos.results[videoIndex - 1]?.size / 1.8" -->
            <iframe
              width="100%"
              height="650px"
              [src]="
                'https://www.youtube.com/embed/' +
                  videos.results[videoIndex - 1]?.key | safe: 'resourceUrl'
              "
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              frameborder="0"
              allowfullscreen
              style="border-radius: 5px"
            ></iframe>
          </ng-container>
        </app-panel>
      </div>

      <div
        class="reccomendations"
        *ngIf="isDataReady(recommendations) && recommendations.results.length"
      >
        <app-panel
          title="Recommendations"
          description="List of TV show recommendations for this movie or show."
          [hideFiltersBtn]="true"
          (fetchNewPage)="fetchRecommendations($event)"
          [paginatorData]="{
            length: recommendations.total_results,
            pageSize: recommendations.results.length
          }"
          height="585px"
        >
          <ng-container ngProjectAs="panel-content">
            <app-loading-spinner
              *ngIf="!recommendations.results.length"
            ></app-loading-spinner>

            <app-card
              *ngFor="let item of recommendations.results"
              [item]="item"
              [media_type]="media_type"
              route="/details"
            ></app-card>
          </ng-container>
        </app-panel>
      </div>

      <div
        class="reviews"
        *ngIf="isDataReady(reviews) && reviews.results.length"
      >
        <app-panel
          [hideFiltersBtn]="true"
          title="Reviews"
          [hidePaginationLength]="true"
          (fetchNewPage)="setReviewIndex($event)"
          [paginatorData]="{
            length: reviews.results.length,
            pageSize: 1
          }"
        >
          <ng-container ngProjectAs="panel-content">
            <mat-card
              [class.mat-elevation-z2]="true"
              style="background: #616161"
            >
              <mat-card-subtitle>{{
                reviews.results[reviewIndex - 1].updated_at
                  ? (reviews.results[reviewIndex - 1].updated_at | date)
                  : (reviews.results[reviewIndex - 1].created_at | date)
              }}</mat-card-subtitle>
              <mat-card-title>{{
                reviews.results[reviewIndex - 1].author
              }}</mat-card-title>
              <mat-card-content>{{
                reviews.results[reviewIndex - 1].content
              }}</mat-card-content>
            </mat-card>
          </ng-container>
        </app-panel>
      </div>

      <div
        class="similar"
        *ngIf="isDataReady(similar) && similar.results.length"
      >
        <app-panel
          title="Similar"
          description="List of similar movies or shows."
          [hideFiltersBtn]="true"
          (fetchNewPage)="fetchSimilar($event)"
          [paginatorData]="{
            length: similar.total_results,
            pageSize: similar.results.length
          }"
          height="585px"
        >
          <ng-container ngProjectAs="panel-content">
            <app-loading-spinner
              *ngIf="!similar.results.length"
            ></app-loading-spinner>

            <app-card
              *ngFor="let item of similar.results"
              [item]="item"
              [media_type]="media_type"
              route="/details"
            ></app-card>
          </ng-container>
        </app-panel>
      </div>
    </div>

    <div class="side">
      <div class="facts">
        <mat-card class="facts-card" [class.mat-elevation-z3]="true">
          <mat-card-content>
            <div><span>Status: </span> {{ item.status }}</div>
            <div>
              <span>Original Language: </span>{{ item.original_language }}
            </div>
            <div>
              <span>Budget: </span>
              {{ item.budget ? (item.budget | currency) : "No Information" }}
            </div>
            <div>
              <span>Revenue: </span>
              {{ item.revenue ? (item.revenue | currency) : "No Information" }}
            </div>
            <div><span>Vote Count: </span> {{ item.vote_count | number }}</div>
            <div *ngIf="item.homepage !== ''">
              <span>Homepage: </span>
              <a [href]="item.homepage" target="_blank">Website Link</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="keywords">
        <mat-chip-list class="keywords-chip-list">
          <mat-chip
            *ngFor="let keyword of keywords.keywords"
            [class.mat-elevation-z3]="true"
            >{{ keyword.name }}</mat-chip
          >
        </mat-chip-list>
      </div>

      <div class="providers" *ngIf="providers.length">
        <img
          *ngFor="let provider of providers"
          [src]="'https://image.tmdb.org/t/p/w45' + provider.logo_path"
          [alt]="provider.provider_name"
          style="border-radius: 5px"
          [class.mat-elevation-z3]="true"
        />
      </div>
    </div>
  </div>
</div>
