.container {
  flex-direction: column;

  .content {
    margin: 20px 0;

    display: flex;
    gap: 10px;

    .main {
      flex: 5;

      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .side {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 20px;

      mat-card {
        mat-card-content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          font-size: 1rem;

          div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
              color: cadetblue;
              font-size: 1.1rem;
            }

            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
