.container {
  flex-direction: column;

  .content {
    margin: 20px 0;

    display: flex;
    gap: 10px;

    .main {
      flex: 5;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .section-heading {
        margin: 0 10px !important;
        font-size: 1.4rem;
      }

      .panel-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .side {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 20px;

      .facts-card {
        mat-card-content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          font-size: 1rem;

          div {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span {
              color: cadetblue;
              font-size: 1.1rem;
            }

            a {
              color: white;
            }
          }
        }
      }

      .keywords-chip-list,
      .providers {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}

@media (max-width: 1400px) {
  .content {
    flex-direction: column;

    .side {
      flex-direction: row !important;
      justify-content: space-around;
      align-items: center;

      .facts,
      .keywords {
        flex: 2;
      }
      .providers {
        flex: 1;
      }

      .facts-card {
        width: fit-content;
        margin: auto;
        min-width: 180px;
      }

      .keywords-chip-list {
        width: fit-content;
        min-width: 180px;
      }

      .providers {
        img {
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    .content {
      .side {
        flex-direction: column !important;
      }
    }
  }
}
