<mat-card class="section">
    <div class="section-heading">
        <h2>Categories</h2>
        <mat-form-field appearance="legacy">
            <mat-label>Quick search</mat-label>
            <input matInput [(ngModel)]="filterKeyword">
            <mat-icon matSuffix color="accent" style="margin-bottom: -5px;">filter_list</mat-icon>
        </mat-form-field>
    </div>
    <div class="section-content">
        <div class="loading-box" *ngIf="!genres.length">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <button mat-raised-button color="accent" *ngFor="let genre of filteredGenres">{{genre.name}}</button>
        <div class="no-filtered" *ngIf="!filteredGenres.length">
            <p style="font-size: 1.2rem;"> No genres found! </p>
        </div>
    </div>
</mat-card>