.section-categories {
  max-width: 1560px;
  margin: auto;

  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    h2 {
      color: white;
    }
  }

  .section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .loading-box {
      width: 100%;
    }
  }
}
