.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  margin: 0 10px !important;

  h2 {
    font-size: 1.5rem;
    color: white;
  }
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .loading-box {
    width: 100%;
  }
}
