<app-section-panel
  title="Trending"
  description="Get the daily or weekly trending movies, shows or people."
  [items]="trendingItems"
  (fetchNewPage)="fetchTrendingItems($event)"
  [resetPage]="resetPage"
  [media_type]="selectedMedia"
>
  <ng-container ngProjectAs="filters">
    <mat-form-field appearance="fill">
      <mat-label>Media Type</mat-label>
      <mat-select [(ngModel)]="selectedMedia">
        <mat-option value="all">All</mat-option>
        <mat-option value="movie">Movie</mat-option>
        <mat-option value="tv">TV</mat-option>
        <mat-option value="person">People</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time Window</mat-label>
      <mat-select [(ngModel)]="selectedTimeWindow">
        <mat-option value="day">Day</mat-option>
        <mat-option value="week">Week</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container ngProjectAs="filter-chips">
    <mat-chip-list [disabled]="false" [multiple]="false">
      <mat-chip
        (click)="selectedMedia !== 'all' ? (selectedMedia = 'all') : null"
        [selected]="selectedMedia == 'all'"
      >
        All
      </mat-chip>
      <mat-chip
        (click)="selectedMedia !== 'movie' ? (selectedMedia = 'movie') : null"
        [selected]="selectedMedia == 'movie'"
      >
        Movies
      </mat-chip>
      <mat-chip
        (click)="selectedMedia !== 'tv' ? (selectedMedia = 'tv') : null"
        [selected]="selectedMedia == 'tv'"
      >
        Shows
      </mat-chip>
      <mat-chip
        (click)="selectedMedia !== 'person' ? (selectedMedia = 'person') : null"
        [selected]="selectedMedia == 'person'"
      >
        People
      </mat-chip>
    </mat-chip-list>

    <mat-chip-list [disabled]="false" [multiple]="false">
      <mat-chip
        color="accent"
        (click)="
          selectedTimeWindow !== 'day' ? (selectedTimeWindow = 'day') : null
        "
        [selected]="selectedTimeWindow == 'day'"
        >Day</mat-chip
      >
      <mat-chip
        color="accent"
        (click)="
          selectedTimeWindow !== 'week' ? (selectedTimeWindow = 'week') : null
        "
        [selected]="selectedTimeWindow == 'week'"
        >Week</mat-chip
      >
    </mat-chip-list>
  </ng-container>
</app-section-panel>
