<app-panel title="Favorites" description="List of all the movies and shows you have added to your watchlist."
  [items]="items" [total_results]="total_results" (fetchNewPage)="fetchWatchlist($event)" [resetPage]="resetPage"
  [media_type]="selectedMedia === 'movies' ? 'movie' : selectedMedia" route="/profile">
  <ng-container ngProjectAs="filters">
    <mat-form-field appearance="fill">
      <mat-label>Media Type</mat-label>
      <mat-select [(ngModel)]="selectedMedia">
        <mat-option value="movies">Movie</mat-option>
        <mat-option value="tv">Shows</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="selectedSort">
        <mat-option value="created_at.asc">Created Ascending</mat-option>
        <mat-option value="created_at.desc">Created Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container ngProjectAs="filter-chips">
    <mat-chip-list [disabled]="false" [multiple]="false">
      <mat-chip (click)="selectedMedia !== 'movies' ? (selectedMedia = 'movies') : null"
        [selected]="selectedMedia == 'movies'">
        Movies
      </mat-chip>
      <mat-chip (click)="selectedMedia !== 'tv' ? (selectedMedia = 'tv') : null" [selected]="selectedMedia == 'tv'">
        Shows
      </mat-chip>
    </mat-chip-list>
  </ng-container>
</app-panel>