<app-panel
  title="Popular"
  description="Get a list of the current popular movies, shows or people on TMDB."
  (fetchNewPage)="fetchTopRated($event)"
  [resetPage]="resetPage"
  [paginatorData]="{
    length: popularItems.length * 5,
    pageSize: popularItems.length
  }"
>
  <ng-container ngProjectAs="filters">
    <mat-form-field appearance="outline">
      <mat-label>Media Type</mat-label>
      <mat-select [(ngModel)]="selectedMedia">
        <mat-option value="movie">Movie</mat-option>
        <mat-option value="tv">Shows</mat-option>
        <mat-option value="person">People</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container ngProjectAs="panel-content">
    <app-loading-spinner *ngIf="!popularItems.length"></app-loading-spinner>

    <app-card
      *ngFor="let item of popularItems"
      [item]="item"
      [media_type]="selectedMedia"
      route="/home"
    ></app-card>
  </ng-container>

  <ng-container ngProjectAs="filter-chips">
    <mat-chip-list [disabled]="false" [multiple]="false">
      <mat-chip
        (click)="selectedMedia !== 'movie' ? (selectedMedia = 'movie') : null"
        [selected]="selectedMedia == 'movie'"
        >Movies</mat-chip
      >
      <mat-chip
        (click)="selectedMedia !== 'tv' ? (selectedMedia = 'tv') : null"
        [selected]="selectedMedia == 'tv'"
      >
        Shows</mat-chip
      >
      <mat-chip
        (click)="selectedMedia !== 'person' ? (selectedMedia = 'person') : null"
        [selected]="selectedMedia == 'person'"
        >People</mat-chip
      >
    </mat-chip-list>
  </ng-container>
</app-panel>
