<app-panel
  title="Discover"
  description="Discover movies and shows by search criteria."
  (fetchNewPage)="fetchResults($event)"
  [resetPage]="resetPage"
  [paginatorData]="{
    length: totalResults,
    pageSize: items.length
  }"
>
  <ng-container ngProjectAs="filters" [formGroup]="filtersForm">
    <!-- Media Type -->
    <mat-form-field appearance="outline">
      <mat-label>Media Type</mat-label>
      <mat-select formControlName="selectedMedia">
        <mat-option value="movie">Movie</mat-option>
        <mat-option value="tv">Shows</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Sort -->
    <mat-form-field appearance="outline">
      <mat-label>Sort Result By</mat-label>
      <mat-select formControlName="selectedSort">
        <!-- Both -->
        <mat-option value="popularity.asc"> Popularity Ascending </mat-option>
        <mat-option value="popularity.desc"> Popularity Descending </mat-option>

        <mat-option value="vote_average.asc"> Rating Ascending </mat-option>
        <mat-option value="vote_average.desc"> Rating Descending </mat-option>
        <!-- ---- -->

        <div
          *ngIf="
            filtersForm.get('selectedMedia')?.value === 'movie';
            then movieSortOptions;
            else tvSortOptions
          "
        ></div>

        <!-- Movie -->
        <ng-template #movieSortOptions>
          <mat-option value="release_date.asc">
            Release Date Ascending
          </mat-option>
          <mat-option value="release_date.desc">
            Release Date Descending
          </mat-option>

          <mat-option value="revenue.asc"> Revenue Ascending </mat-option>
          <mat-option value="revenue.desc"> Revenue Descending </mat-option>

          <mat-option value="original_title.asc"> Title (A-Z) </mat-option>
          <mat-option value="original_title.desc"> Title (Z-A) </mat-option>
        </ng-template>
        <!-- ---- -->

        <!-- TV -->
        <ng-template #tvSortOptions>
          <mat-option value="first_air_date.asc">
            Release Date Ascending
          </mat-option>
          <mat-option value="first_air_date.desc">
            Release Date Descending
          </mat-option>
        </ng-template>
        <!-- ---- -->
      </mat-select>
    </mat-form-field>

    <!-- Genres -->
    <mat-form-field appearance="outline">
      <mat-label>Genres</mat-label>
      <mat-select formControlName="selectedGenres" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{
          genre.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container ngProjectAs="panel-content">
    <app-loading-spinner *ngIf="!items.length"></app-loading-spinner>

    <app-card
      *ngFor="let item of items"
      [item]="item"
      [media_type]="filtersForm.value.selectedMedia"
      route="/home"
    ></app-card>
  </ng-container>
</app-panel>
